---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Tá perdido?" description="Página de 404">
    <h1 class="text-xl blinking-terminal-cursor mb-3 text-center">Página não encontrada!</h1>
    <section>Ops! Parece que você se perdeu, mas não se preocupe! Você pode voltar para a página inicial <a class="underline decoration-black" href={"/"}>clicando aqui!</a></section>
</MainLayout>
