---
import MainLayout from "../layouts/MainLayout.astro";

import euUm from "../images/other/eu-um.jpg";
import euDois from "../images/other/eu-dois.jpg";
import euTres from "../images/other/eu-tres.jpg";

import loadCurriculo from "../scripts/curriculo.ts";

const { htmlCurriculo, error } = await loadCurriculo();
const urlCurriculo = "https://docs.google.com/document/d/e/2PACX-1vS848j638bes4_jiRfYAudSJrOXfiO4IoSWme2SGncZJVjfqcERay6RrdQNuPBHwO1JPIB43vEzNmiA/pub";
---

<MainLayout title="Currículo" description="Meu currículo, para quem estiver interessado em um Desenvolvedor Java dos bons, *wink wink*" images={[euUm, euDois, euTres]}>
    <h1 class="text-xl text-center blinking-terminal-cursor mb-3">Esse currículo é importado automaticamente do google docs!</h1>
    <section class="text-center">
        Se quiser ver o documento original,
        <a target="_blank" class="underline decoration-black" href={urlCurriculo}>clique aqui</a>.
    </section>
    <div set:html={htmlCurriculo} id="iframe-container" class="mt-2 pt-3 border-t-2 border-black">
        <h1
            id="msg-erro-curriculo"
            class:list={{
                hidden: !error,
                block: error,
            }}
            class="text-xl blinking-terminal-cursor mb-3">
            Oops! Houve algum erro ao carregar meu currículo kkkk...
        </h1>
    </div>
</MainLayout>

<style is:inline>
    #iframe-container > div.doc-content {
        padding: 0;
    }
</style>
