---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <h1 class="text-xl text-center blinking-terminal-cursor mb-3">Olá! Me chamo Gabriel Fonseca, é um prazer!</h1>
    <section>Mas que enorme textão! *mentalizando um grande texto*</section>
</MainLayout>
