---
const today = new Date();
---

<footer class="bg-white p-4 text-justify rounded-lg main-sibling lg:w-[59rem] mb-4">
    <div>&copy; {today.getFullYear()} Gabriel Fonseca. Todos os direitos reservados.</div>
</footer>
